.formContainer {
  display: grid;
  gap: 10px;
}

.labelStyle {
  width: auto;
  display: grid;
  justify-content: center;
}

.buttonAddStyle {
  margin: auto;
  padding: 5px;
  width: fit-content;
}
